---
import './index.scss';
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";

---

<BaseLayout>

	<div class="rounded-xl m-5 heading-section">
		
		<h1 class="text-xl heading-title" >
			Del río emana la vida.
		</h1>
		
	</div>

</BaseLayout>