---
import './index.scss';
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";

---

<BaseLayout>

	<div class="rounded-xl m-5 heading-section">
		
		<!-- <img src="./imgs/heading_bg.png" class="w-full" alt="img"> -->
		
	</div>

</BaseLayout>