---
import "./index.scss";
import BaseLayout from "../layouts/BaseLayout/BaseLayout.astro";
import { MoveDown } from "lucide-preact";
---

<BaseLayout>
	<div class="rounded-xl m-5 heading-section">
		<h1 class="text-xl heading-title">Del río emana la vida.</h1>

		<div class="heading-icon">
			<MoveDown size={70} color="#E8EE7F" />
		</div>
	</div>
</BaseLayout>
