---
import Navbar from "../../components/Navbar/Navbar";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/navbar-icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <header>
            <Navbar client:load />
        </header>
		<slot />
	</body>
</html>
