---
import Footer from "../../components/Footer/Footer";
import Navbar from "../../components/Navbar/Navbar";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/navbar-icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Inmobiliario</title>
	</head>
	<body>
		<header>
			<Navbar client:load />
		</header>
		<slot />
		<Footer />
	</body>
</html>
